<mat-sidenav-container class="sidenav-container"
[dir]="languageService.getCurrentLanguage() === 'ar' ? 'rtl' : 'ltr'"
>

  <mat-sidenav
    #sidenav
    position="start"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    class="sidenav">

    <div class="logo">
      <img src="assets/images/logo.png" class="logo-image">
      <span>Admin Panel</span>
    </div>

    <app-sidenav-component></app-sidenav-component>

  </mat-sidenav>


  <mat-sidenav-content>

    <mat-toolbar class="head">

      <div class="toolbar-left">
        <button mat-icon-button class="menu" (click)="sidenav.toggle()">
          <mat-icon class="icon">menu</mat-icon>
        </button>
      </div>

      <div class="toolbar-right">
        <app-header-component></app-header-component>
      </div>

    </mat-toolbar>


    <div class="content">
      <div class="content-inner">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>